name: CI
on:
  push:
    branches:
      - main
      - "test_*"
      - "test-*"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - run: go test -race ./...
